/* Importação de fonte via Google Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* Reset básico --------- */
* {
    margin: 0;
    padding: 0;
}

/* Body --------- */
body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Header --------- */
header {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
}

:root {

    --cor-rosa: #DB1E8C;

    --cor-rosa-claro: #FF97D3;

    --cor-cinza-azulado: #33475B;

    --cor-branco: #FFFFFF;

    --cor-azul: #264FEC;

    --cor--preto: #000000;

    --cor--cinza-claro: #F5F5F5;

    --cor--azul-escuro: #364372;
}

.container__elementos__header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo__principal {
    font-size: 24px;
    color: var(--cor-azul);
    font-weight: 400;
}

.label__pesquisa {
    background-color: var(--cor-rosa);

    height: 40px;
    padding: 8px;

    display: flex;
    align-items: center;
    gap: 4px;

    border-radius: 4px;

    box-sizing: border-box;
}

.input__pesquisa {
    background-color: transparent;

    padding: 4px;

    border: none;
}

::placeholder {
    color: var(--cor-rosa-claro);
}

.conteudo__principal {
    width:100%
}
.card__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    
    gap: 2.5rem;

}

.card {
    background-color: var(--cor--cinza-claro);

    width: 24rem;
    height: 26rem;
    margin-top: 2.3125rem;
    padding: 2rem;

    border-radius: 4px;
}

.card__titulo {
    font-size: 24px;
    font-weight: 600;

    color: var(--cor--azul-escuro);
}

.card__estilo {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card__texto {
    font-size: 16px;
    font-weight: 400;

    color: var(--cor--preto);
}

.botao {
    border-radius: 4px;
    border: 1px solid #264FEC;

    padding: 1rem;

    color: var(--cor-azul);
    background-color: var(--cor--cinza-claro);
    border-color: var(--cor-azul);

    font-size: 14px;
    font-weight: 400;

    text-decoration: none;
}

.rodape__container {
    color: var(--cor-branco);
    background-color: var(--cor-branco);

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-top: 5rem;
    padding: 2rem;
}

.rodape__container h3 {
    color: var(--cor--preto);
}

.espacamento {
    gap: 2rem;
}

.line-height {
    line-height: 2rem;
}