/* Importação de fonte via Google Fonts --------- */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

/* Reset básico --------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body --------- */
body {
    background-color: #33475B;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Header --------- */
header {
    height: 80px;
    background-color: #FFFFFF;
    display: flex;
}

:root {

    --cerise-color: #DB1E8C;

    --carnation-color: #FF97D3;

    --pickled-bluewood-color: #33475B;

    --white-color: #FFFFFF;

    --cornflower-color: #264FEC;

    --cor--preto: #000000;

    --cor--cinza-claro: #F5F5F5;
    
    --cor--azul-escuro: #364372;



}

.container__elementos__header {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo__principal {
    font-size: 24px;
    color: var(--cornflower-color);
    font-weight: 400;
}

.label__pesquisa {
    background-color: var(--cerise-color);
    height: 40px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
}

.input__pesquisa {
    background-color: transparent;
    padding: 4px;
    border: none;
}

::placeholder {
    color: var(--carnation-color);
}

.conteudo__principal {
    background-color: #33475B;

    border-radius: 4px;

    width: 1280px;
    height: 934px;
    margin: 0 auto;

}

.conteudo__principal__card {
    border-radius: 4px;

    display: flex;

    background-color: var(--cor--cinza-claro);

}


.conteudo__principal__card ul {
    height: 447px;
    width: 400px;
    border-radius: 4px;

    background-color: var(--cor--cinza-claro);

}

.rodape__container {
    color: var(--white-color);

    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1920px;
    height: 110px;
}

.rodape__container h3 {
    color: var(--cor--preto);
}

.espacamento {

    gap: 2rem;
    display: flex;
}

.line-height {
    line-height: 2rem;
}

.botao {
    border-radius: 4px;
    border: 1px solid #264FEC;

    width: 139px;
    height: 48px;

    color: var(--cornflower-color);
    background-color: var(--cor--cinza-claro);
    border-color: var(--cornflower-color);

    font-size: 14px;
    font-weight: 400;
}

.card {
    height: 445px;
    width: 400px;
   
   border-radius: 4px;
}

.card__titulo {
   
    font-size: 24px;
    font-weight: 600;

    text-align: left;
    color: var(--cor--azul-escuro);

}

.card p {
    
font-size: 16px;
font-weight: 400;

text-align: left;

color: var(--cor--preto);
}